<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css" />
        <!-- Light Theme <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css"> -->
        <!-- Auto Detect Theme <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> -->


        <!--
            https://github.com/daemonforge/DayZ-UniveralApi/wiki/EJS-Syntax-Reference

            Passed Varibles
            `SteamId` The steam id of the player.
            `DiscordId` The Discord Id.
            `DiscordUsername` The Discord Username.
            `DiscordDiscriminator` The unquie identification for the Discord Username.
            `DiscordAvatar` The avatar of the discord.
        -->

        <title>Successfully Logged In</title>
    </head>
    <body style="max-width: 600px; text-align: center;">
        <h1 style="color: #DCEDC8;">You have successfully connected your steam account to our discord</h1>
    </body>
</html>