.vscode
.git
Build
DesktopManager/templates/discordError.ejs
DesktopManager/templates/discordLogin.ejs
DesktopManager/templates/discordSuccess.ejs
DayZWebService/dayzwebservice.exe
DayZWebService/dayzwebservice
*/node_modules
WebService2.0/config.json
WebService2.0/package-lock.json
WebService2.0/webservice2-linux
WebService2.0/webservice2-win.exe
WebService2.0/webservice2-macos
