<!DOCTYPE html>
<html>
    <head>
        <%- include('../sections/head'); -%>
        <script defer src="../lib/JsonEditor/jsoneditor.min.js"></script>
        <script defer src="../scripts/editor.js"></script>
        <link rel="stylesheet" href="../lib/JsonEditor/jsoneditor.min.css">    
        <style>
            
            @keyframes border-pulsate {
                0%   { 
                    border: 2px solid rgba(180, 0, 0, 0.0);
                }
                10%  { 
                    border: 2px solid rgba(180, 0, 0, 0.70);
                }
                20%  { 
                    border: 2px solid rgba(180, 0, 0, 0.30);
                }
                30%  { 
                    border: 2px solid rgba(180, 0, 0, 0.60);
                }
                40%  { 
                    border: 2px solid rgba(180, 0, 0, 0.20);
                }
                50% { 
                    border: 2px solid rgba(180, 0, 0, 0.50);
                }
                60% { 
                    border: 2px solid rgba(180, 0, 0, 0.10);
                }
                75% { 
                    border: 2px solid rgba(180, 0, 0, 0.40);
                }
                100% { 
                    border: 2px solid rgba(180, 0, 0, 0.0);
                }
            }
            dialog::backdrop {
                background: rgba(0,0,0,.61);
                -webkit-backdrop-filter: blur(4px);
                backdrop-filter: blur(4px);
                position: fixed;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
            }
            dialog {
            background-color: var(--background-alt);
            color: var(--text-main);
            border: none;
            border-radius: 6px;
            border-color: var(--border);
            padding: 10px 30px;
            }
            #JsonEditorWrapper{
                margin: 10px 50px;
            }
            /* dark styling of the editor */
            div.jsoneditor,
            div.jsoneditor-menu {
                border-color: #4b4b4b;
            }
            div.jsoneditor-menu {
                background-color: #4b4b4b;
            }
            div.jsoneditor-tree,
            div.jsoneditor textarea.jsoneditor-text {
                background-color: #202b38;
                color: #ffffff;
            }
            div.jsoneditor-field,
            div.jsoneditor-value {
                color: #FF6E40;
            }
            table.jsoneditor-search div.jsoneditor-frame {
                background: #202b38; 
            }

            tr.jsoneditor-highlight,
            tr.jsoneditor-selected {
                background-color: #808080;
            }

            div.jsoneditor-field[contenteditable=true]:focus,
            div.jsoneditor-field[contenteditable=true]:hover,
            div.jsoneditor-value[contenteditable=true]:focus,
            div.jsoneditor-value[contenteditable=true]:hover,
            div.jsoneditor-field.jsoneditor-highlight,
            div.jsoneditor-value.jsoneditor-highlight {
                background-color: #202b38; 
                border-color: #808080;
            }
            span.jsoneditor-treepath-seperator{
                display: none !important;
            }
            span.jsoneditor-treepath-seperator::after{
                font-family: "Font Awesome 5 Free" !important;
                font-weight: 900;
                content: "\f054" !important;
            }
            div.jsoneditor-field.highlight-active,
            div.jsoneditor-field.highlight-active:focus,
            div.jsoneditor-field.highlight-active:hover,
            div.jsoneditor-value.highlight-active,
            div.jsoneditor-value.highlight-active:focus,
            div.jsoneditor-value.highlight-active:hover {
                background-color: #b1b1b1;
                border-color: #b1b1b1;
            }

            div.jsoneditor-tree button:focus {
                background-color: #808080;
            }

            /* coloring of JSON in tree mode */
            div.jsoneditor-readonly {
                color: #dbdbdb; ;
            }
            div.jsoneditor td.jsoneditor-separator {
                color: #dbdbdb;
            }
            div.jsoneditor-value.jsoneditor-string {
                color: #4CAF50;
            }
            div.jsoneditor-value.jsoneditor-object,
            div.jsoneditor-value.jsoneditor-array {
                color: #dbdbdb; 
            }
            div.jsoneditor-value.jsoneditor-number {
                color: #FFB74D; 
            }
            div.jsoneditor-value.jsoneditor-boolean {
                color: #2196F3;
            }
            div.jsoneditor-value.jsoneditor-null {
                color: #CE93D8;
            }
            button.jsoneditor-transform{
                display: none;
            }
            div.jsoneditor-value.jsoneditor-invalid {
                color: white;
            }
            div.jsoneditor-frame input{
                display: inline-block !important;
                color: #dbdbdb;
            }
            div.jsoneditor-navigation-bar{
                height: fit-content;
            }
            select {
                padding-right: 30px;
            }

            div.jsoneditor-tree select{
                height: 28px;
                font-size: 1em;
                padding: 0px 10px;
                margin-right: 2px;
                padding-right: 26px;
                margin-bottom: 6px;
            }
        </style>
    </head>
    <body>
    <%- include('../sections/nav'); -%>
    <main>
        <h2>Globals Editor</h2>
        <dialog id="dialog"> <header id="DialogHeader">ERROR</header> <p id="DialogText">Invalid Text</p><button onclick="CloseDialog()">Okay</button></dialog>
        <div id="JsonEditorWrapper">
            <div style="display: flex;">
                <select style="float: left; display: block;" id="GlobalsSelector" onchange="OnGlobalsSelectorChange()">

                </select>
                <button style="float: right; display: block;" onclick="SaveGlobal()">Save</button>
            </div>
            <div id="JsonEditor">

            </div>
        </div>
        <div style="min-width: 600px; max-width: 800px; width: 95vw" >
            <h2 style="margin-bottom: 0px;">Wipe Mod Data: </h2>
            <div style="display: flex; align-items: center;">
        <label id="collection-label"  style="display: inline; font-size: 18px; margin: 14px" for="collection" >Collection: </label> <select style="display: inline" name="collection" id="collection">
            <option value="Players">Players</option>
            <option value="Objects">Objects</option>
          </select>
          <label id="mod-label"   style="display: inline; font-size: 18px; margin: 14px" for="mod" >Mod Tag: </label><input type="text" id="mod" name="mod" style="display: inline"></input>
          <button onclick="DeleteAllData()" style="display: flex; align-items: center; font-weight: bold; padding-left: 8px; padding-right: 8px"><svg style="fill: #FFF; height: 24px; width:24px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M15 16h4v2h-4zm0-8h7v2h-7zm0 4h6v2h-6zM3 18c0 1.1.9 2 2 2h6c1.1 0 2-.9 2-2V8H3v10zM14 5h-3l-1-1H6L5 5H2v2h12z"/></svg> DELETE ALL</button>
        </div>
        </div>
    </main>
<%- include('../sections/footer'); -%>
</body>
</html>