    <meta charset="UTF-8">
    <title>Universal API Manager - Version: <%= global.APIVERSION -%></title>
    <link href='../fonts/fonts.css' rel='stylesheet' />
    <link rel="stylesheet" href="../styles/water/dark.min.css">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../lib/highlight/solarized-dark.css">
    <script defer src="../scripts/renderer.js"></script>
    <script defer src="../lib/highlight/highlight.pack.js"></script>