
<nav class="menudropdown" style="float: right">
    <button onclick="OpenMenu();" id="menubtn" class="menubtn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="menuicon" id="menuicon">
            <path d="M0 0h24v24H0V0z" fill="none"/>
            <path d="M2 17c0 .55.45 1 1 1h18c.55 0 1-.45 1-1s-.45-1-1-1H3c-.55 0-1 .45-1 1zm0-5c0 .55.45 1 1 1h18c.55 0 1-.45 1-1s-.45-1-1-1H3c-.55 0-1 .45-1 1zm0-5c0 .55.45 1 1 1h18c.55 0 1-.45 1-1s-.45-1-1-1H3c-.55 0-1 .45-1 1z"/>
        </svg>
    </button>
    <div id="myDropdown" class="menudropdown-content">
        <a href="./index.ejs">Console</a>
        <a href="./config.ejs">System Config</a>
        <a href="./editor.ejs">DB Editor</a>
        <a href="#" onclick="OpenTemplatesFolder()">Web Templates</a>
        <% if (global.config.LogToFile) { %><a href="#" onclick="OpenLogsFolder()">API Logs</a><% } %>
        <a href="./about.ejs">About/Status</a>
        <% if (pendingupdate) { %><a href="#" onclick="UpdateAndRestart()">Update!</a><% } %>
      </div>
</nav>
